/bin/*
./Properties/*
Properties/*
Resources/*
./bin/*
*/bin/*
*/obj/*
./obj/*
obj/*
*/debug/
x64/*
x86/*
*/x64/*
*/x86/*
*.resx
*.csproj
*.config
InvoiceAnalyserMainUI.csproj
Form1.Designer.cs
Form1.resx
Form1.cs
Form1.csproj
