<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="banifu_forms_main_ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="studerus" value="désignation	3	4	2		6	True	False	Postpac	Date de livraison	Numéro de commande" />
        <add key="alltron" value="Herstellernummer	2	3	1	4	7	False	True	Steuersatz	datum	Auftragsnummer" />
        <add key="ingram" value="BEZEICHNUNG	4	3	1		5	False	True	Nachnahmegebühr	FAELLIG	GELIEFERT" />
        <add key="steg" value="Beschreibung	3	1	2	2	6	False	False	total	Versanddatum	Bestell-Nr" />
        <add key="secomp" value="page	3	4	2	1	7	False	False	Valeur-march	Date de comm	No. de commande" />
        <add key="brother" value="Article	1	2	1		4	True	False	Sous-Total	Votre-ordre-du	Réf commande Brother" />
        <add key="rotronic" value="page	3	5	2	1	6	True	False	Valeur-march	Date de comm	No. de commande" />
        <add key="fournisseur" value="Désignation	3	1	-1		6	False	True	total net	Date	facture" />
        <add key="sysco" value="Echéance	1	2	-1		5	False	false	total	Date	facture" />
        <add key="otto" value="Dêsignation	2	4	2	1	7	True	false	base tva	Date-de-commande	facture" />
        <add key="avs" value="DEJA-FACTURE	1	-1	-1		5	False	True	POSSESSION	Neuchâtel, le	N° d‘afﬁilié" />
        <add key="upc" value="Fiber Power	1	3	-1		5	False	False	total	Rechmmgsâaîum	Rechnungsnummer" />
        <add key="swisscom" value="None	3	4	2		0	False	False	Postpac	Date	Numéro de facture" />
        <add key="peoplefone" value="None	-1	-1	-1		0	False	False		Zürich,	facture" />
        <add key="ebl" value="None	-1	-1	-1		0	False	False		Date-de-facture	Numéro-de-la-facture" />
        <add key="jaquet" value="None	-1	-1	-1		0	False	False	total facture	Fleurier, le	Facture N°" />
        
    </appSettings>
    <userSettings>
        <banifu_forms_main_ui.Properties.Settings>
            <setting name="providers" serializeAs="String">
                <value />
            </setting>
        </banifu_forms_main_ui.Properties.Settings>
    </userSettings>
</configuration>